PORT=5000
NODE_ENV=production
JWT_SECRET=shiva_honda_super_secret_jwt_key_2026
JWT_REFRESH_SECRET=shiva_honda_super_secret_refresh_jwt_key_2026
TELEGRAM_BOT_TOKEN=8700748612:AAEUbjwE_W-hsSbtNid2vrGSTUY79IJkDqw
COMPANY_NAME="My Shiva Honda"
